<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  	<groups>
  		<run> <include name="smoke"/></run>
  	</groups>
<classes>

	<class name="Configuring">
	
		<methods><include name="CheckUrl"/></methods>
	</class>
	

</classes>
  
  </test>
  	
  
  
  <test name="Test2">
  	<classes>
  		 <class name="Basicfunctions">
  		 	<methods>
  		 		<include name="SearchCar">
  		 		</include>
  		 	</methods>
  		 </class>
  	
  
  	</classes>
  
  
  </test>
  
</suite> <!-- Suite -->
